@import "tailwindcss";

/* primary red color [rgb(229,9,20)] */

@theme {
    --animate-dotBounce: animateDot 0.4s infinite alternate;

    @keyframes animateDot {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-5px);
        }
    }
}